/* sidebar.html */
.navigation.type-photo .caption { font-size: 24px; padding: 10px 20px; margin: 0; border: 1px solid; border-bottom: none; }
.navigation.type-photo ul { margin: 0; padding: 0; list-style: none; }
.navigation.type-photo>ul { /*border: 1px solid;*/ border-width: 0 1px 1px; border-style: solid; margin-bottom: 30px; }
.navigation.type-photo ul li { position: relative; /*border-bottom: 1px solid;*/ border-top: 1px solid; }
.navigation.type-photo ul a { display: block; position: relative; text-decoration: none; padding-right: 24px; padding-top: 9px; padding-bottom: 9px; }
.navigation.type-photo ul a i.icon-circle { text-decoration: none; font-size: 5px; margin-left: -12px; margin-right: 8px; vertical-align: 3px; }
.navigation.type-photo ul>li>a { font-size: 14px; }
.navigation.type-photo>ul li>a { padding-left: 35px; }
.navigation.type-photo>ul li li>a { padding-left: 30px; }

.navigation.type-photo>ul>li i.icon-angle-right { display: none; margin-left: 2px; }
.navigation.type-photo>ul>li:hover>a i.icon-angle-down { display: none; }
.navigation.type-photo>ul>li:hover>a i.icon-angle-right { display: inline-block; }
.navigation.type-photo ul ul>li:hover>a i.icon-angle-down { display: none; }
.navigation.type-photo ul ul>li:hover>a i.icon-angle-right { display: inline-block; }

ul.album-tree,
ul.album-tree ul { /*border: 1px solid;*/ border-width: 0 1px 1px; border-style: solid; list-style: none; }
ul.album-tree ul { display: none; width: 220px; position: absolute; right: -222px; top: -1px; z-index: 1312; }
ul.album-tree li:hover>ul { display: block; }

.bph-mobile-tree>ul { border-width: 1px 0 0; }
.navigation.type-photo ul li.bph-mobile-tree li { border: none; }
.navigation.type-photo>ul li.bph-mobile-tree li>a { padding-left: 40px; padding-top: 5px; padding-bottom: 5px; }
.navigation.type-photo>ul li.bph-mobile-tree li li>a { padding-left: 45px; padding-top: 2px; padding-bottom: 2px; }
.navigation.type-photo>ul li.bph-mobile-tree li li li>a { padding-left: 50px; }
.bph-mobile-tree li span.grower { line-height: 28px; }
.bph-mobile-tree li li span.grower { line-height: 22px; }
.bph-mobile-tree li>a i.cb-minus { margin-left: -8px; margin-right: 3px; }
.bph-mobile-tree li li i.cb-minus { display: none; }

h1.search-criteria { border-bottom: 6px solid; padding-bottom: 0.9em; }
.album-note { font-size: 12px; font-style: italic; }
.album-description { margin-bottom: 25px; }
.sub-albums { line-height: 1.3em; }
.sub-albums table td { padding-right: 40px; }

/* photostream */
#photo-stream { margin: 20px auto; display: table; }
ul.photostream { padding: 0; margin: 0; list-style: none; position: relative; }
ul.photostream li { float: left; padding-right: 7px; }
ul.photostream ul li a { padding: 2px; border: 2px solid; display: block; }
ul.photostream li img { width: 76px; height: 76px; vertical-align: top; }
ul.photostream li.stream-wrapper { float:none; }
ul.photostream li.stream-nav { position: absolute; top: 50%; margin-top: -12px; }
ul.photostream li.stream-nav a { text-decoration: none; font-size: 30px; }
ul.photostream li.stream-nav.rewind { left: -16px; padding: 0; }
ul.photostream li.stream-nav.ff { right: -16px; padding: 0; }
ul.photostream li.stream-nav.ff i:before,
ul.photostream li.stream-nav.rewind i:before { content: "\f0d9"; font-family: FontAwesome; font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; }
ul.photostream li.stream-nav.ff i:before { content: "\f0da"; }

.photostream-divider { margin-top: 90px; border-top: 1px solid #ccc; margin-bottom: 20px; }

/* one photo */
.photo { margin-bottom: 0; width: 100%; }
.photo img { max-width: 100%; height: auto !important; }

.image { position: relative; display: block; max-width: 100%; }
.image img { max-width: 100%; height: auto !important; }
.image .corner { position:absolute; z-index:10; color: #fff; font-weight: bold; }
.image .corner.top { top:7px; }
.image .corner.left { left:10px; }
.image .corner.right { right:10px; }
.image .corner.bottom { bottom:5px; }
.image .corner .indicator { border-radius: 10px; padding: 3px 6px; }

.image .stripe { position:absolute; z-index:9; bottom: 5px; left: 0; right: 0; background: rgba(0,0,0,0.3); color: #fff; padding: 10px; }
.image .stripe h5 { margin-bottom: 0; text-shadow: 0 2px 2px #000; }
.image .stripe p { margin: 0.3em 0 0; }

.hero.superhero .image .stack { position: absolute; top: 5px; left: 0; right: 0; padding: 10px; }
.hero.superhero .image .stack .stack-nav { padding: 5px 0px 6px; display: inline-block; margin: 0 auto; position: relative; }
.hero.superhero .image .stack .stack-nav:before { border: 15px solid; content: ''; position: absolute; top: 0; left: -30px; }
.hero.superhero .image .stack .stack-nav:after { border: 15px solid; content: ''; position: absolute; top: 0; right: -30px; }
.hero.superhero .image .stack .stack-nav a { text-decoration: none; display: inline-block; vertical-align: -6px; font-size: 30px; }
.hero.superhero .image .stack .stack-nav a img { display: none; }
.hero.superhero .image .stack .stack-nav .rewind { margin-right: 5px; }
.hero.superhero .image .stack .stack-nav .ff { margin-left: 5px; }
.hero.superhero .image .stack .stack-nav .ff:before,
.hero.superhero .image .stack .stack-nav .rewind:before { content: "\f0d9"; font-family: FontAwesome; font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; }
.hero.superhero .image .stack .stack-nav .ff:before { content: "\f0da"; }

.hero.superhero .image { text-align: center; }
.hero.superhero .image>a { padding: 4px; border: 1px solid; display: inline-block; }
.hero.superhero .image img { display: block; margin: 0 auto; }
.hero.superhero .image .stack img { display: inline-block; }

#photo-name { font-size: 18px; margin: 25px 0 20px; font-weight: bold; }
/* photo lists */
h1.album-name { border-bottom: 6px solid; padding-bottom: 0.9em; }

.view-plain { margin-bottom: 40px; }
.view-plain .view-plain-photo-header { margin-bottom: 20px; margin-top: 40px; }
.view-plain .rating { display: inline-block; }
.view-plain .stack-nav { text-align: right; float: right; margin: 15px 20px 0; }
.view-plain .stack-nav a { text-decoration: none; display: inline-block; vertical-align: -6px; font-size: 30px; }
.view-plain .stack-nav a img { display: none; }
.view-plain .stack-nav .rewind { margin-right: 5px; }
.view-plain .stack-nav .ff { margin-left: 5px; }
.view-plain .stack-nav .ff:before,
.view-plain .stack-nav .rewind:before { content: "\f0d9"; font-family: FontAwesome; font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; }
.view-plain .stack-nav .ff:before { content: "\f0da"; }
.view-plain h5 { padding: 15px 20px; font-size: 100%; line-height: 150%; margin: 0; }
.view-plain .image { text-align: center; margin-bottom: 20px; }
.view-plain .image a { display: inline-block; padding: 4px; border: 1px solid; }
.view-plain .image img { vertical-align: top; }
.view-plain .stack { margin-top: 20px; }

.view-masonry { margin-right: -5px; margin-bottom: 40px; }
#photo-list.view-masonry { visibility: hidden; margin: 0; }
.view-masonry .column { display: inline-block; width: 33.33%; vertical-align: top;}
.view-masonry .column>div { margin-right: 5px; margin-bottom: 5px; }
.view-masonry .image .corner.top { top: 10px; }
.view-masonry .image a { display: block; padding: 4px; border: 1px solid; }
.view-masonry .image img { vertical-align: top; }

ul.view-thumbs { padding: 0; margin: 0; list-style: none; text-align: center; }
ul.view-thumbs li a { text-decoration: none; /*color: #fff;*/ }
ul.view-thumbs li { display: inline-block; position: relative; vertical-align: top; width: 200px;/*250px*/ margin: 0 8px 15px; }
ul.view-thumbs li img.shadowed { -moz-box-shadow: 0 1px 3px #aaa; -webkit-box-shadow: 0 1px 3px #aaa; box-shadow: 0 1px 3px #aaa; margin-bottom: 5px; }
ul.view-thumbs.album-float-left-view { margin-top: 10px; }
ul.view-thumbs.album-float-left-view li { display: block; margin-right: 22px; float: left; }

/* comments */
.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a { display: inline-block; vertical-align: middle; padding-left: 0 !important; }
.credentials .userpic { min-width: 20px; }
.credentials .username { margin: 0; }

.comment-form { padding: 0; margin-bottom: 30px; }
.comment-form h4 { padding: 0 20px; margin: 0 0 20px; font-weight: normal; font-size: 24px; line-height: 48px; position: relative; overflow: hidden; }
.comment-form h4:after { content: ""; position: absolute; height: 100%; width: 100%; margin-left: 20px; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; }
.comment-form-fields input { width: 20em; }
.comment-form textarea { min-width: 70%; min-height: 160px; box-sizing: border-box; }
.comment-form .comment-submit { padding:0 0 20px 170px;}
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.comment-form ul.menu-h.auth-type { padding: 0; min-height: 16px; margin: 1em 0 20px; list-style: none; }
.comment-form ul.menu-h.auth-type li { list-style: none; float: left; padding: 0 15px 0 0; }
.comment-form ul.menu-h.auth-type li.selected a { text-decoration: none; font-weight: bold; }
.comment-form ul.menu-h.auth-type li a { display: block; padding: 0px 5px; }
.comment-form ul.menu-h.auth-type li a img { float: left; position: relative; margin-right: 3px; top: 2px; left: -3px; }
.comment-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; }
.comment-form .tab.clear-left { clear: none !important; }

.comments { margin-bottom: 30px; border-top: 6px solid; }
.comments .comments-count.comments-header { margin: 25px 0; text-align: center; font-size: 1em; }
.comments .comments-count.comments-header:after { content: 'Написать комментарий'; text-decoration: underline; cursor: pointer; }
.comments .comments-count.comments-header:hover:after { text-decoration: none; }
.comments h3 { margin: 0 0 20px; }
.comments .credentials { padding: 0 10px 0 20px; line-height: 48px; }
.comments .credentials .date { float: right; font-size: 12px; }
.comments .credentials .userpic { margin-right: 5px; vertical-align: -4px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; margin-top: 0; } 
.comments ul,
.comments ul.menu-v li { padding: 0; margin: 0; list-style: none; }
.comments ul li { margin:0 0 20px 0;}
.comments ul li ul { margin:20px 0 0 0; }
.comments ul li span.hint a { color: #aaa; text-decoration: underline; }
.comments .text { margin: 15px 0 10px; }
.comments .actions { margin-bottom: 15px; }
.comments .actions a { text-decoration: underline !important; }
.comments .actions a:hover { text-decoration: none !important; }
.comments .actions a b { border: none; position: static; top: auto; }
.comments .actions a b i { position: static; top: auto; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline; }
.comments ul li a.comment-delete:hover { background: red; color: white; }
.comments ul li ul { padding-left: 25px; }
.comments ul li .comment-form { margin: 0; }
.comments ul li .comment-form textarea { min-height: 100px; }
.comment.deleted s { color: #777; background: #eee; padding: 0 3px; }
#photo-comments-count-text { cursor: pointer; }
#photo-comments-count-text:after { content: ' | '; }

/* mayby plugins? */
#photo-rate-votes-count,
#clear-photo-rate,
#photo-rate-error { position: relative; margin-left: 5px; margin-right: 5px; }
#photo-rate-error { color: red; }

.p-declined { color: red; }
.p-declined img { border: 2px solid red; margin-top: -2px; }
.p-awaiting-moderation { color: gray; font-style: italic; opacity: 0.5; }

.image .p-declined { color: white; background: red; padding: 15px; font-size: 1.2em; }
.image .p-awaiting-moderation { color: white; background: gray; padding: 15px; font-size: 1.2em; }

/*rating*/
a i.icon16 { height: auto; width: auto; background: none; text-indent: 0; vertical-align: middle; }
.icon12, a .icon16 { position:relative; font-family: FontAwesome; font-weight: normal; font-style: normal; line-height:normal; font-size:12px; -webkit-font-smoothing: antialiased; margin-right: 3px; color: #e5e5e5; }
.icon12.star-hover:before, a .icon16.star-hover:before,
.icon12.star:before, a .icon16.star:before,
.icon12.star-full:before, a .icon16.star-full:before { content: "\f005"; color: #fd0; }
.icon12.star-half:before, a .icon16.star-half:before { content: "\f089"; position: absolute; top: 0; color: #fd0; }
.icon12.star-half:after, a .icon16.star-half:after { content: "\f005"; }
.icon12.star-empty:before, a .icon16.star-empty:before { content: "\f005"; }
.icon16.loading { background-image: url("/wa-content/img/loading16.gif"); background-position: 0 0; }

.lazyloading-wrapper { text-align: center; margin-bottom: 40px; }

.bph-mobile-tree.hide-for-desktop { display: none !important; }

#product-social { margin-bottom: 20px; }
#product-social .yashare-auto-init { display: inline-block; vertical-align: 1px; }