/* sidebar.html */
.navigation.type-blog .caption { font-size: 24px; padding: 10px 20px; margin: 0; border: 1px solid; border-bottom: none; }
.navigation.type-blog ul { margin: 0; padding: 0; list-style: none; }
.navigation.type-blog>ul { /*border: 1px solid;*/ border-width: 0 1px 1px; border-style: solid; margin-bottom: 30px; }
.navigation.type-blog ul li { position: relative; /*border-bottom: 1px solid;*/ border-top: 1px solid; }
.navigation.type-blog ul a { display: block; position: relative; text-decoration: none; padding-right: 24px; padding-top: 9px; padding-bottom: 9px; }
.navigation.type-blog ul a i.icon-circle { text-decoration: none; font-size: 5px; margin-left: -12px; margin-right: 8px; vertical-align: 3px; }
.navigation.type-blog>ul>li>a { font-size: 14px; }
.navigation.type-blog>ul li>a { padding-left: 35px; }
.navigation.type-blog>ul li li>a { padding-left: 30px; }

.navigation.type-blog>ul>li i.icon-angle-right { display: none; margin-left: 2px; }
.navigation.type-blog>ul>li:hover>a i.icon-angle-down { display: none; }
.navigation.type-blog>ul>li:hover>a i.icon-angle-right { display: inline-block; }
.navigation.type-blog ul ul>li:hover>a i.icon-angle-down { display: none; }
.navigation.type-blog ul ul>li:hover>a i.icon-angle-right { display: inline-block; }

ul.categories,
#timeline .popup ul { /*border: 1px solid;*/ border-width: 0 1px 1px; border-style: solid; list-style: none; }
#timeline .popup ul li a { font-weight: bold; }
#timeline .popup>ul ul { display: none; width: 220px; position: absolute; right: -222px; top: -1px; z-index: 1312; }
#timeline .popup>ul li:hover>ul { display: block; }
#timeline .popup ul.menu-v li ul li a { font-weight: normal; }

.bph-mobile-tree>ul { border-width: 1px 0 0; }
.navigation.type-blog ul li.bph-mobile-tree li { border: none; }
.navigation.type-blog>ul li.bph-mobile-tree li>a { padding-left: 40px; padding-top: 5px; padding-bottom: 5px; }
.navigation.type-blog>ul li.bph-mobile-tree li li>a { padding-left: 45px; padding-top: 2px; padding-bottom: 2px; }
.bph-mobile-tree li span.grower { line-height: 28px; }
.bph-mobile-tree li>a i.cb-minus { margin-left: -8px; margin-right: 3px; }

/* stream.html */
#post-stream { margin-bottom: 30px; }
#post-stream>h1 { border-bottom: 6px solid; padding-bottom: 0.9em; }

.post { border-bottom: 6px solid; padding-bottom: 25px; }
.post h1,
.post h3 { font-size: 18px; margin: 25px 0 20px; font-weight: bold; }
.post h3 a { text-decoration: none; }
.post a.picture-awesome { margin-top: 15px; display: block; }
.post a.picture-awesome i { text-decoration: none; margin-right: 5px; vertical-align: 0; font-size: 14px; }
.post img { max-width: 100%; height: auto !important; }
.post .text { margin-top: 5px;}
.post textarea { width: 100%; min-height: 400px; margin-top: 10px; height: 450px; }
.post.no-border { border: none; }
.post.search-match { padding-bottom: 10px; }
.post.search-match h3 { font-size: 1.5em; }
.post .tags { margin-top: 15px; font-weight: bold; }
.post .tags a { font-weight: normal; }

.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a,
.credentials span { display: inline-block; vertical-align: middle; padding-left: 0 !important; /*display: inline;*/}
.credentials .userpic { text-decoration: none; margin-right: 5px; vertical-align: -1px; font-size: 14px; }
.credentials .username { margin: 0; }
.credentials .username, .credentials .username a { padding: 0; display: inline; }
.credentials .date { display: block; margin: 5px 0; }
.credentials .date i { text-decoration: none; margin-right: 5px; vertical-align: 0; font-size: 14px; }
.post .credentials { float: right; text-align: right; margin-bottom: 10px; margin-left: 10px; }

.comment-form { padding: 0; margin-bottom: 30px; }
.comment-form h4 { margin: 0 0 20px; font-weight: normal; font-size: 24px; line-height: 48px; }
.comment-form h4 span { padding: 0 20px; display: inline-block; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; }
.comment-form-fields input { width: 20em; }
.comment-form textarea { min-width: 70%; min-height: 160px; }
.comment-form .comment-submit { padding:0 0 20px 170px; }
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.comment-form ul.menu-h.auth-type { padding: 0; min-height: 16px; margin: 1em 0 20px; list-style: none; }
.comment-form ul.menu-h.auth-type li { list-style: none; float: left; padding: 0 15px 0 0; }
.comment-form ul.menu-h.auth-type li.selected a { text-decoration: none; font-weight: bold; }
.comment-form ul.menu-h.auth-type li a { display: block; padding: 0px 5px; }
.comment-form ul.menu-h.auth-type li a img { float: left; position: relative; margin-right: 3px; top: 2px; left: -3px; }

.comments { margin-bottom: 30px; }
.comments h3 { margin: 0 0 20px; }
.comments h3.comment-count { margin: 25px 0; text-align: center; font-size: 1em; }
.comments .credentials .date { float: right; margin: 0; }
.comments .credentials .userpic { vertical-align: -4px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; margin-top: 0; } 
.comments ul,
.comments ul.menu-v li { padding: 0; margin: 0; list-style: none; }
.comments ul li { margin:0 0 20px 0;}
.comments ul li ul { margin: 0; }
.comments ul li span.hint a { text-decoration: underline; }
.comments .text { margin: 15px 0 10px; }
.comments .actions { margin: 0 0 15px; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; text-decoration: underline; }
.comments ul li ul { padding-left: 25px; }
.comments ul li .comment-form { margin: 0; /*padding: 10px 30px;*/ }
.comments ul li .comment-form textarea { min-height: 100px; }
.comments .credentials { padding: 0 10px 0 20px; line-height: 48px; }
.comments .credentials span { vertical-align: baseline; }

.pageless-wrapper { font-style: italic; text-align: center; }

.bph-mobile-tree.hide-for-desktop { display: none !important; }

#product-social { padding-top: 25px; }
#product-social .yashare-auto-init { display: inline-block; vertical-align: 1px; }