<link href="{$wa_theme_url}my.earn.css" rel="stylesheet" type="text/css">
<div class="sidebar left230px">
    {include file="sidebar.html"}
</div>

<div class="content left230px">

    <!-- navigation breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{$wa_app_url}">[`Home`]</a> » <a href="{$wa->getUrl('/frontend/my')}">[`My Account`]</a> » <span class="gray">[`My account`]</span>
    </div>
    
    <div class="info-page menu">{$wa->myNav()}</div>
   
    <h1>Список заданий</h1>

	<script>
	    SAILPLAY.send('init', {
	        partner_id: 5,
	        dep_id: 55,
	        domain: 'https://crm.papajohns.ru',
	        lang: 'ru'
	    });
	
	    SAILPLAY.on('init.success', function () {
	        SAILPLAY.send('pj.bootstrap', document.body);
	                    SAILPLAY.send('pj.pizzameter', 280);
	            SAILPLAY.send('login', '9000ded44b4f7bd84401c716d60d32e4d947717c'); //авторизуем пользователя
	            if (typeof showStep3SailplayWidget === 'function') {
	                showStep3SailplayWidget();
	            }
	            });
	
	    SAILPLAY.on('login.success', function () {
	        SAILPLAY.send('load.user.info'); //загружаем данные пользователя
	        SAILPLAY.send('load.user.history'); //загружаем историю действий пользователя
	    });
	
	    SAILPLAY.on('load.user.info.success', function(res){
	        SAILPLAY.send('badge.receive.show', res.last_badge);
	    });
	
	    SAILPLAY.on('gifts.purchase.success', function(res){
	        var st = $(window).scrollTop();
	        var h = $(window).height();
	        var $t = $("#b-modal__s-gift-add");
	        var top = st+(h-$t.height())/2;
	        $t.show()
	            .css({
	                top: '-100px',
	                opacity: 0
	            }).animate({
	                top: top<0?0:top,
	                opacity: 1
	            },250);
	
	    });
	
	    var showLoginPopup = function(){
	        $('a[href="#b-login"]:first').click()
	    };
	    SAILPLAY.on('actions.perform.auth.error', showLoginPopup);
	    SAILPLAY.on('gifts.login.request', showLoginPopup);
	</script>
	
    <div class="actions_wrapper">
	    <p class="myriad">Выполняйте задания и получайте за них дополнительные баллы</p>
	    <ul class="actions_list">
			<!-- Рассказать о покупке ВК -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo vk share"></div>
				<div class="action_points">10</div>
				<p class="myriad">Рассказать о покупке в ВК</p>
				</div>
			</li>
			<!-- Рассказать о покупке ОК -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo оk share"></div>
				<div class="action_points">10</div>
				<p class="myriad">Рассказать о покупке в ОК</p>
				</div>
			</li>
			<!-- Рассказать о покупке ТВ -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo tw share"></div>
				<div class="action_points">10</div>
				<p class="myriad">Рассказать о покупке в TW</p>
				</div>
			</li>
			<!-- Рассказать о покупке ФБ -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo fb share"></div>
				<div class="action_points">10</div>
				<p class="myriad">Рассказать о покупке в FB</p>
				</div>
			</li>
			<!-- Вступить в группу в ВК -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo vk like"></div>
				<div class="action_points">10</div>
				<p class="myriad">Вступить в группу в ВК</p>
				</div>
			</li>
			<!-- Вступить в группу в ОК -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo ok like"></div>
				<div class="action_points">10</div>
				<p class="myriad">Вступить в группу в ОК</p>
				</div>
			</li>
			<!-- Вступить в группу в ТВ -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo tw like"></div>
				<div class="action_points">10</div>
				<p class="myriad">Подписаться на нас в TW</p>
				</div>
			</li>
			<!-- Вступить в группу в ФБ -->
			<li colspan="1" class="action">
			<div class="action_card" data-ng-click="earnPoints(action)">
				<div class="social_logo fb like"></div>
				<div class="action_points">10</div>
				<p class="myriad">Вступить в группу в FB</p>
				</div>
			</li>
	    </ul>
    </div>
    
    
    
</div>
